<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>海上直升机保障系统-5</string>
		<string>停机坪-6</string>
		<string>安全网-7</string>
		<string>接地装置-8</string>
		<string>维护保障设备-9</string>
		<string>系留设备-10</string>
		<string>着舰格栅-11</string>
		<string>喷气燃料系统-12</string>
		<string>下滑和横摇指示系统-13</string>
		<string>助降灯光系统-14</string>
		<string>起降指挥工作台-15</string>
		<string>指挥管理设施-16</string>
		<string>特种电源-17</string>
		<string>机库大门-18</string>
	</array>
	<array>
		<string>通航机场解决方案-19</string>
		<string>助降灯光系统-20</string>
		<string>一站式保障系统-21</string>
		<string>通航机场塔台系统-22</string>
		<string>智能机务管理系统-23</string>
		<string>通航机场运控系统-24</string>
		<string>智能机库管理系统-25</string>
		<string>航空自动气象系统-26</string>
	</array>
	<array>
		<string>临时起降点解决方案-27 </string>
		<string>远程塔台系统-28</string>
		<string>无人值守保障系统-29</string>
		<string>太阳能加油站-30</string>
		<string>小型固定式地勤保障站-31    </string>
	</array>
	<array>
		<string>航空应急保障系统-32</string>
		<string>通航移动指挥系统-33</string>
		<string>超轻型直升机拖车-34</string>
		<string>直升机野外保障车-35</string>
		<string>直升机移动机场-36</string>
	</array>
	<array>
		<string>低空监视与服务-37</string>
		<string>区域监视服务系统-38</string>
		<string>航空服务站系统-39</string>
		<string>通航机场塔台系统-40</string>
		<string>机载监视服务终端-41</string>
		<string>广域多点监视系统-42</string>
	</array>
</array>
</plist>
